html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Aloja";
  src: url("/fonts/Aloja-Light.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}